
<div class="my-scribble-page">
    <div class="my-scribble-h1">
    <h1>Liked Scribbles</h1>
</div>

    <div class="scribbles-category-container">
  {{#each likedScribbles}}
  <div class="scribbles-category-linker">
    <a href="/scribbles/{{this._id}}" class="scribbles-category-linker">
      <div class="scribbles-category-card">
        <div class="scribbles-category-card-image">
          <img src="{{ImageUrl}}" class="scribbles-category-card-img" alt="{{title}}">
        </div>
        <div class="scribbles-category-card-content">
          <p class="scribbles-category-card-title">{{title}}</p>
          <p class="scribbles-category-card-description">{{description}}</p>
           <div class="scribbles-category-likes-container">
            <i class="fa fa-heart heart"></i>
            <span class="scribbles-category-likes-count">{{this.likes.length}}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  {{else}}
  <p>There are no posts yet!</p>
  {{/each}}
</div>
</div>