
<div class="my-scribble-page">
    <div class="my-scribble-h1">
    <h1>My Scribbles</h1>
</div>
    <div class="container-scribble">
        {{#each scribbles}}
        <div class="scribble-linker">
            <a href="/scribbles/{{this._id}}" class="scribble-linker">
                <div class="card-container">
                    <div class="card-image">
                        <img src="{{this.ImageUrl}}" class="card-img" alt="{{this.title}}">
                    </div>
                    <div class="card-content">
                        <p class="card-title">{{this.ttitle}}</p>
                        <p class="card-description">{{this.description}}</p>
                        <p><i class="fa fa-heart heart"></i>
                        <span class="scribbles-category-likes-count">{{this.likes.length}}</span></p>
                        
                    </div>
                </div>
            </a>
            <div class="my-Scribbles-links">
                <div><a href="/scribbles/edit/{{this._id}}" onclick="return confirm('Are you sure you want to edit this scribble?');" class="btn btn-danger">Edit Scribble</a></div>
                <div><a href="/scribbles/delete/{{scribble._id}}" onclick="return confirm('Are you sure you want to delete this scribble?');" class="btn btn-danger delete-button-owner myscribble-link-btn">Delete</a></div>
            </div>

            
        </div>
        {{else}}
    <p>There are no movies yet!</p>
    {{/each}}
    </div>
</div>