<div class="hero-category">
  <img src="/images/art.jpg" alt="Art Vibes Image" class="hero--category-image">
  <div class="hero-category-text">
    <h1>Art Fart</h1>
  </div>
</div>

<div class="scribbles-category-container">
  {{#each posts}}
  <div class="scribbles-category-linker">
    <a href="/scribbles/{{this._id}}" class="scribbles-category-linker">
      <div class="scribbles-category-card">
        <div class="scribbles-category-card-image">
          <img src="{{ImageUrl}}" class="scribbles-category-card-img" alt="{{title}}">
        </div>
        <div class="scribbles-category-card-content">
          <div class="scribbles-category-title-container">
            <img src="{{user.profilePicture}}" class="scribbles-category-icon-picture" alt="{{this.user.username}}'s Profile Picture">
            <p class="scribbles-category-username">{{this.user.username}}</p>
          </div>
          <p class="scribbles-category-card-title">{{title}}</p>
          <p class="scribbles-category-card-description">{{description}}</p>
           <div class="scribbles-category-likes-container">
            <i class="fa fa-heart heart"></i>
            <span class="scribbles-category-likes-count">{{this.likes.length}}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  {{else}}
  <p>There are no posts yet!</p>
  {{/each}}
</div>

